@import "../../../../theme/index";

.container {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: url('../../../../assets/images/fraijourMain/productLine/heartleafBlemish.jpg') no-repeat;
  background-size: 365px 264px;
  animation: show-block 0.5s ease-in-out;

  @keyframes show-block {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
  }

  @include respond-to(tablet) {
    background-size: 719px 555px;
  }

  @include respond-to(desktop) {
    background-size: 875px 675px;
  }

  @include respond-to(largeDesktop) {
    background-size: 1140px 875px;
  }

  .popoverButton {
    display: none;
    @include respond-to(tablet){
      display: block;
    }
  }

  .poiner {
    display: block;
    @include respond-to(tablet) {
      display: none;
    }
  }

  .firstPopover {
    margin-left: 51px;
    margin-top: 89px;

    .popover {
      @include respond-to(tablet) {
        bottom: -35px;
      }
      @include respond-to(desktop) {
        bottom: -62px;
      }
      @include respond-to(largeDesktop) {
        bottom: 22px;
      }
    }

    @include respond-to(tablet) {
      margin-left: 111px;
      margin-top: 190px;
    }

    @include respond-to(desktop) {
      margin-left: 119px;
      margin-top: 234px;
    }

    @include respond-to(largeDesktop) {
      margin-left: 165px;
      margin-top: 319px;
    }
  }

  .secondPopover {
    margin-left: 66px;
    margin-top: 128px;
    @include respond-to(tablet) {
      margin-left: 91px;
      margin-top: 275px;
    }

    @include respond-to(desktop) {
      margin-left: 96px;
      margin-top: 327px;
    }

    @include respond-to(largeDesktop) {
      margin-left: 161px;
      margin-top: 445px;
    }
  }

  .thirdPopover {
    margin-left: 111px;
    margin-top: 118px;

    .popover {
      @include respond-to(tablet) {
        margin-left: -60px;
      }
      @include respond-to(desktop) {
        margin-left: -35px;
      }
      @include respond-to(largeDesktop) {
        margin-left: 22px;
      }
    }
    @include respond-to(tablet) {
      margin-left: 172px;
      margin-top: 257px;
    }

    @include respond-to(desktop) {
      margin-left: 212px;
      margin-top: 301px;
    }

    @include respond-to(largeDesktop) {
      margin-left: 273px;
      margin-top: 412px;
    }
  }

  .fourthPopover {
    margin-left: 74px;
    margin-top: 175px;
    @include respond-to(tablet) {
      margin-left: 103px;
      margin-top: 373px;
    }

    @include respond-to(desktop) {
      margin-left: 119px;
      margin-top: 437px;
    }

    @include respond-to(largeDesktop) {
      margin-left: 178px;
      margin-top: 589px;
    }
  }
}
