@import '../../theme/index';

.container {
  position: relative;
  width: 100%;
  box-shadow: 0px 15px 20px 0px rgba(139, 124, 167, 0.35);

  .mouseBtn {
    display: none;

    @include respond-to(tablet) {
      display: block;
      position: absolute;
      bottom: -30px;
      left: 100px;
      width: 60px;
      height: 60px;
      box-shadow: 0px 5px 10px 0px rgba(139, 124, 167, 0.35);
      > svg > path {
        fill: none;
      }
    }
  }

  .homeHeading {
    position: relative;
    background: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 591px;
    width: 100%;
    overflow: hidden;
    @include respond-to(tablet) {
      height: 860px;
    }

    .backgroundVideo {
      z-index: 0;
      width: auto;
      height: 100%;
    }

    .title {
      z-index: 2;
      position: absolute;
      top: 20px;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond-to(tablet) {
        left: 10px;
        align-items: initial;
      }
      @include respond-to(desktop) {
        top: 73px;
        left: 96px;
      }
  
      .firstLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        @include respond-to(tablet) {
          font-weight: 600;
          font-size: 19px;
          line-height: 64px;
          flex-direction: row;
          align-items: baseline;
        }
      }
  
      .secondLine {
        font-size: 34px;
        font-weight: 400;
        line-height: 37px;
        @include respond-to(tablet) {
          font-weight: 500;
          font-size: 64px;
          line-height: 64px;
        }
  
        .label {
          color: $heliotrope;
        }
      }
  
      .thirdLine {
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        margin: 0px;
        @include respond-to(tablet) {
          font-weight: 300;
          font-size: 24px;
          line-height: 24px;
          margin: 17px 0px 15px;
        }
      }
  
      .fourthLine {
        color: $heliotrope;
        font-size: 34px;
        font-weight: 400;
        line-height: 37px;
        @include respond-to(tablet) {
          font-weight: 500;
          font-size: 64px;
          line-height: 64px;
        }
      }
    }
  
    .iconGlobe {
      position: relative;
      top: 0px;
      right: 0px;
      @include respond-to(tablet) {
          top: 5px;
          right: 4px;
      }
    }
  }
}
